._*
!__main__.py

.DS_Store

__pycache__/

results/
.ipynb_checkpoints*


annotations.json/
karpathy/
logs.log


# Ignore all .pth files
*.npy
*.pth

*.egg-info/
.vscode
.pth
output
outputs/
token.txt
.png
crops
.notebooks
*_omba.sh
token.txt

# Environment and config files (keep .env.example)
.env
config.env

# Miniconda installer and related
Miniconda3*
miniconda3*
./Miniconda3*
data/train
dtd
models/
yolo11x-seg.pt
/api/temp_images
data/tank